/* 'addons' declared in <head> for cache busting */
i.fa {
	font-style: normal;
}
.fa-gpio:before {
	content: "\f529";
	color: #7795b4/*cl*/;
}
.fa-times:before { content: "\f51A" }
.fa-check:before { content: "\f51B" }
.fa-chevron-down:before { content: "\f564" }

.fa-power:before { content: "\f527" }
.fa-tag:before { content: "\f545" }
.fa-gpiopins:before { content: "\f546" }
.fa-stopwatch:before { content: "\f547" }

.fa-info-circle:before { content: "\f560" }
.fa-question-circle:before { content: "\f561" }

@font-face {
	font-family: Lato;
	src: url( '../fonts/lato/lato-regular-webfont.woff' ) format( 'woff' ),
		url( '../fonts/lato/lato-regular-webfont.ttf' ) format( 'truetype' );
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	src: url( '../fonts/lato/lato-light-webfont.woff' ) format( 'woff' ),
		url( '../fonts/lato/lato-light-webfont.ttf' ) format( 'truetype' );
	font-weight: 300;
	font-style: normal;
}
body {
	font-family: "Lato";
	font-size: 14px;
}
h1 {
	font-weight: 300;
}
p,
span.timer,
.gpio-float-r span:not(:first-of-type) {
	color: #7795b4/*cl*/;
}
span {
	margin-left: 5px;
}
#gpioform i {
    font-size: 18px;
}

.btn-default {
	border: none;
}
select {
	display: none;
}
.dropdown-menu {
	background: #34495e/*cg*/;
	box-shadow: 4px 4px 10px #000000;
}
.dropdown-menu>li>a {
	line-height: 31px;
	color: #e0e7ee;
}
.dropdown-menu>li.selected a {
	color: #e0e7ee;
	background: #222f3d;
	outline: none;
}
.dropdown-menu>li>a:hover {
	color: #e0e7ee !important;
	background: #0095d8/*c*/;
}
.dropdown-menu>li.selected a:hover {
	color: #34495e/*cg*/ !important;
}

.pnotify_custom {
    top: 60px !important;
    bottom: auto !important;
    left: 0 !important;
    width: 210px !important;
    box-shadow: -4px 4px 10px #000000;
}

.container {
	max-width: 750px;
	padding : 0 15px;
}
.close-root {
	float: right;
	margin-top: 20px;
}
.close-root,
#close-img {
	font-size: 28px;
	cursor: pointer;
}
#close-img {
	display: none;
	position: absolute;
	right: 15px;
	top: 5px;
}
a:hover {
	text-decoration: none;
}
.form-group {
	margin-top: 10px;
	padding: 0 30px;
}
.boxed-group {
	padding: 5px 15px;
	background: #19232d;
	border-radius: 6px;
}
#fliptxt {
	display: none;
	color: #e0e7ee;
}
#gpiopin,
#gpiopin1 {
	display: none;
	margin-bottom: 10px;
	width: 100%;
	border-radius: 6px;
	background: #e0e7ee;
}
#divgpio div.col-sm-10 {
	padding: 0;
}
#gpio {
	margin: 0 0 20px 0;
	padding-right: 0;
}
.gpio-float-l {
	float: left;
	min-width: 220px;
}
.gpio-float-r {
	float: left;
	min-width: 320px;
}

div#gpio-num.col-sm-10,
.delay,
#gpio-num .bootstrap-select {
	width: 75px !important;
}
#gpio-name,
#gpio div.text,
#gpio-name input[type=text] {
	width: 120px !important;
}
#gpio div.col-sm-10,
.gpio-text,
#gpio .bootstrap-select,
#gpio input[type=text],
#gpio input[type=number] {
	width: 150px;
}
@media(max-width: 500px) {
	#divgpio {
		padding-left: 0;
	}
	#gpio div.col-sm-10,
	#gpio .bootstrap-select {
		width: 135px;
	}
}

#gpio a.btn {
	height: 40px;
	line-height: 30px;
	padding: 5px 15px;
}
#gpio a:hover {
	text-decoration: none;
	color: #e0e7ee;
}
#gpio div.col-sm-10 {
	float: left;
	margin: 0;
	padding: 0;
	line-height: 45px;
}
.gpio-text {
	display: block;
	width: 100%;
	padding: 0 0 0 5px;
	line-height: 40px;
	color: #e0e7ee;
}
#gpio .bootstrap-select,
#gpio input[type=text],
#gpio input[type=number] {
	margin: 0 0 5px 0;
	height: 41px;
	color: #e0e7ee;
}
#gpio input[type=text],
#gpio input[type=number] {
	padding: 10px !important;
	border-width: 2px;
}
div#gpio-num.col-sm-10 {
	margin-right: 5px;
}
button {
	height: 40px;
}
#audioout button {
	width: 200px;
}
#gpio-name,
#gpio-name input[type=text] {
	margin: 0 20px 5px 0 !important;
	font-size: 1em;
}
#gpio div.text {
	margin: 0 5px 0 0;
}
#gpio p {
	text-align: center;
	line-height: 46px;
}
.clear {
	clear: both;
}
.blue {
	color: #0095d8/*c*/;
}
.green {
    color: #0f0
}
.red {
    color: #f00
}
.yellow {
	color: yellow;
}
