@font-face {
	font-family: addons;
	src: url( '../fonts/addons.woff' ) format( 'woff' ),
		url( '../fonts/addons.ttf' ) format( 'truetype' );
	font-weight: normal;
	font-style: normal;
}
.fa-gpio:before,
#gpio i:before {
	font-family: addons;
	content: "\f547";
}
.pnotify_custom {
    top: 60px !important;
    bottom: auto !important;
    left: 0 !important;
    width: 210px !important;
    box-shadow: -4px 4px 10px #000000;
}

#dropdownbg {
	height: 408px !important;
}
