/* 'addons' declared in <head> for cache busting */
.fa {
	display: inline-block;
	font-family: enhance;
	font-style: normal;
}
.fa-check:before { content: "\f51B" }
.fa-chevron-down:before { content: "\f605" }
.fa-gpio:before { content: "\f522" }
.fa-gpiopins:before { content: "\f546" }
.fa-info-circle:before { content: "\f560" }
.fa-link:before { content: "\f52C" }
.fa-power:before { content: "\f520" }
.fa-question-circle:before { content: "\f560" }
.fa-stopwatch:before { content: "\f547" }
.fa-tag:before { content: "\f545" }
.fa-times:before { content: "\f51A" }

@font-face {
	font-family: Lato;
	src: url( '../fonts/lato-regular-webfont.woff' ) format( 'woff' ),
		url( '../fonts/lato/lato-regular-webfont.ttf' ) format( 'truetype' );
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	src: url( '../fonts/lato-light-webfont.woff' ) format( 'woff' ),
		url( '../fonts/lato-light-webfont.ttf' ) format( 'truetype' );
	font-weight: 300;
	font-style: normal;
}
*,
*: before,
*: after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:focus {
	outline: none;
}
body {
	margin: 0;
	font-family: "Lato";
	font-size: 15px;
	line-height: 1.42857143;
	color: hsl(0,0%,90%);
	background-color: #000;
	overscroll-behavior: none;
}
.hide {
	display: none !important;
}
.container {
	max-width: 768px;
	padding: 40px 55px 100px 55px;
}
.head {
	position: fixed;
	width: 100%;
	height: 40px;
	padding-right: 10px;
	background: hsl(200,3%,20%);
	box-shadow: 0px 4px 10px #000000;
	z-index: 95;
}
.page-icon,
#help,#close {
	width: 40px;
	height: 40px;
	line-height: 38px;
	text-align: center;
	font-size: 24px;
	text-shadow: 1px 1px 2px #000000;
	cursor: pointer;
}
.page-icon {
	float: left;
	background: hsl(200,100%,40%);
}
#help,
#close {
	float: right;
}
#help {
	color: hsl(200,3%,60%);
}
#close {
	font-size: 2em !important;
	color: hsl(200,100%,40%);
	cursor: pointer;
}
.title {
	margin-left: 15px;
	line-height: 40px;
	font-size: 26px;
	font-weight: 300;
	letter-spacing: 5px;
}
heading {
	display: inline-block;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
	line-height: 35px;
	font-size: 24px;
	font-weight: 300;
	border-bottom: 1px solid hsl(200,3%,30%);
}
a,
a: hover {
	color: hsl(0,0%,90%);
	text-decoration: none !important;
}
select {
	opacity: 0;
}
.selectric-wrapper {
	width: auto;
}
.selectric-on,
.selectric-off {
	width: 170px;
}
.selectric-pin,
.selectric-timer,
.selectric-delay {
	width: 70px;
}
.selectric-disabled {
	color: hsl(200,3%,60%)/*cgl*/;
}
wh {
	color: hsl(0,0%,90%) !important;
}
.blue,bl {
	color: hsl(200,100%,40%) !important;
}
span.timer,
.gpio-float-r span: not(: first-of-type) {
	color: hsl(200,3%,60%);
}
.sec {
	display: inline-block;
	margin-left: 5px;
	vertical-align: 5px;
}
span.timer {
	display: block;
	margin-top: 58px;
	margin-left: 0;
}
span.timer i {
	vertical-align: -2px;
}
#gpioform i {
	font-size: 18px;
}
#gpioimgtxt,
#close-img {
	cursor: pointer;
}
#close-img {
	display: none;
	position: absolute;
	right: 15px;
	top: 5px;
	font-size: 28px;
}
#fliptxt {
	display: none;
	color: hsl(0,0%,90%);
}
#gpiopin,
#gpiopin1 {
	display: none;
	margin-bottom: 10px;
	width: 100%;
	border-radius: 6px;
	background: hsl(0,0%,90%);
}
.gpio-float-l {
	float: left;
	min-width: 200px;
}
.gpio-float-r {
	float: left;
}
#gpio-name,
#gpio-name input {
	width: 120px;
}
#gpio .column {
	width: 175px;
}
#gpio-num.column,
.delay {
	width: 75px;
}
#gpio .column {
	float: left;
	margin: 0;
	padding: 0;
}
.gpio-text {
	display: block;
	padding: 0 0 0 5px;
	line-height: 40px;
	color: hsl(0,0%,90%);
}
input {
	border-radius: 4px;
}
#gpio-name {
	margin: 0 0 5px 0 !important;
	width: 120px !important;
}
input {
	margin-bottom: 10px;
	height: 41px !important;
	padding: 0 10px !important;
	font-family: Lato;
	font-size: 15px !important;
	color: hsl(0,0%,90%);
	background-color: #000000 !important;
	border: 1px solid hsl(200,3%,30%) !important;
}
input: focus {
	outline: none;
}
.btn {
	display: inline-block;
	width: 85px;
	margin-bottom: 5px;
	line-height: 34px;
	text-align: center;
	color: hsl(0,0%,90%);
	background: -webkit-radial-gradient(50% -50%, 160% 200%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55%); /* button highlight - last % for anti-alias edge*/
	background: radial-gradient(160% 100% at 50% 0% ,hsla(0,0%,100%,.3) 50%,hsla(0,0%,100%,0) 55%); /* (Width% Heigth% at H-center_offset% V-center_offset%, hsla(0,0%,100%,1st-T) 1st-area%, hsla(0,0%,100%,2nd-T) 2nd-area%)) */
	box-shadow: 2px 2px 3px 1px #000000;
	text-shadow: 1px 1px 2px #000000;
	border-radius: 4px;
	border: none;
	user-select: none;
	cursor: pointer;
}
.btn-primary {
	background-color: hsl(200,100%,35%)/*c*/;
}
.btn-primary:hover {
	background-color: hsl(200,100%,40%)/*ch*/
}
#gpioimgtxt,
.blue {
	color: hsl(200,100%,40%);
}
.cgl {
	color: hsl(200,3%,60%) !important;
}
.green {
	color: #0f0;
}
.red {
	color: #f00;
}
.yellow {
	color: yellow;
}
@media (min-width:  768px) {
	.container {
		margin: 0 auto;
	}
}
@media (max-width:  740px) {
	.container {
		padding: 40px 20px 100px 20px;
	}
	.head {
		padding-right: 0 !important;
	}
}
@media ( hover: hover ) {
	#gpioimgtxt: hover {
		color: hsl(200,100%,45%);
	}
}
