/* 'addons' declared in <head> for cache busting */
.fa-gpio:before {
	content: "\f529";
}
#settings .fa-gpio,
.dropdown-menu .fa-gpio {
	color: #7795b4;
}
#settings a.active .fa-gpio,
#menu-settings a.active .fa-gpio {
	color: #34495e !important;
}
#menu-settings a.active {
	background: #0095d8;
}
#infoMessage wh,
#infoMessage gr {
	font-weight: normal;
}

#stopwatch {
	vertical-align: -50%;
}
.fa-stopwatch-o:before {
	content: "\f548";
}
.fa-stopwatch-i:before {
	content: "\f549";
}
#infoIcon .stopwatch {
	margin: -35px -20px 0 -15px;
	padding: 0;
}
/* fix - missing spin */
.fa-spin {
	animation: fa-spin 2s infinite linear;
}
@keyframes fa-spin {
	0%   { transform: rotate( 0deg ) }
	100% { transform: rotate( 359deg ) }
}
