/* 'addons' declared in <head> for cache busting */
.fa-gpio:before {
	content: "\f529";
}
#settings a i,
#menu-settings a i {
	color: #7795b4;
}
#settings a.active i,
#menu-settings a.active i {
	color: #34495e !important;
}
#menu-settings a.active {
	background: #0095d8;
}
.fa-stopwatch-o:before {
	content: "\f548";
}
.fa-stopwatch-i:before {
	content: "\f549";
}
#infoIcon .stopwatch {
	margin: -35px -20px 0 -15px;
	padding: 0;
}
#dropdownbg {
	height: 408px !important;
}
/* fix - missing spin */
.fa-spin {
	animation: fa-spin 2s infinite linear;
}
@keyframes fa-spin {
	0%   { transform: rotate( 0deg ) }
	100% { transform: rotate( 359deg ) }
}
