/* 'addons' declared in <head> for cache busting */
.fa {
	display: inline-block;
	font-family: enhance;
	font-style: normal;
}
.fa-check:before { content: "\f51B" }
.fa-chevron-down:before { content: "\f605" }
.fa-gpio:before { content: "\f522" }
.fa-gpiopins:before { content: "\f546" }
.fa-info-circle:before { content: "\f560" }
.fa-link:before { content: "\f52C" }
.fa-power:before { content: "\f520" }
.fa-question-circle:before { content: "\f560" }
.fa-stopwatch:before { content: "\f547" }
.fa-tag:before { content: "\f545" }
.fa-times:before { content: "\f51A" }

@font-face {
	font-family: Lato;
	src: url( '../fonts/lato-regular-webfont.woff' ) format( 'woff' ),
		url( '../fonts/lato/lato-regular-webfont.ttf' ) format( 'truetype' );
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	src: url( '../fonts/lato-light-webfont.woff' ) format( 'woff' ),
		url( '../fonts/lato-light-webfont.ttf' ) format( 'truetype' );
	font-weight: 300;
	font-style: normal;
}
*,
*:before,
*:after{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
html {
	padding: env( safe-area-inset ); /* disable iPhone X rounded corner padding */
}
body {
	margin: 0;
	font-family: "Lato";
	font-size: 14px;
	line-height: 1.42857143;
	color: #e0e7ee;
	background-color: #000;
	overscroll-behavior: none; /* disable android pull-down refresh */
}
.hide{ display: none !important; }
.container {
	margin: 0 40px;
	max-width: 750px;
	padding: 60px 15px 100px 15px;
}
.head {
	position: fixed;
	width: 100%;
	height: 40px;
	padding-right: 10px;
	background: hsl(200,3%,20%)/*cd*/;
	box-shadow: 0px 4px 10px #000000;
	z-index: 100;
}
.page-icon,
#help,
#close {
	width: 40px;
	height: 40px;
	line-height: 38px;
	text-align: center;
	font-size: 24px;
	text-shadow: 1px 1px 2px #000000;
	cursor: pointer;
}
.page-icon {
	float: left;
	background: hsl(200,100%,40%)/*c*/;
}
#help,
#close {
	float: right;
}
#help {
	color: hsl(200,3%,60%)/*cgl*/
}
#close {
	font-size: 2em !important;
	color: hsl(200,100%,40%)/*c*/;
	cursor: pointer;
}
.title {
	margin-left: 15px;
	line-height: 40px;
	font-size: 26px;
	font-weight: 300;
	letter-spacing: 5px;
}
heading {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	line-height: 35px;
	font-size: 24px;
	font-weight: 300;
	border-bottom: 1px solid hsl(200,3%,30%)/*cg*/;
}
a,
a:hover {
	color: #e0e7ee;
	text-decoration: none !important;
}
.selectric-wrapper {
	width: auto;
}
.selectric-on,
.selectric-off {
	width: 170px;
}
.selectric-pin,
.selectric-timer,
.selectric-delay {
	width: 85px;
}
.btn-default {
	background: hsl(200,3%,30%)/*cg*/ !important;
}
.btn-default:focus,
.dropdown-toggle.btn-default:focus {
	color: #e0e7ee;
	background: hsl(200,3%,60%)/*cgl*/ !important;
	outline: none !important;
}
a.btn {
	display: inline-block;
	text-transform: none;
	min-width: 100px;
	line-height: 34px;
	text-align: center;
	color: #e0e7ee;
	background: -webkit-radial-gradient(50% -50%, 160% 200%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55%); /* button highlight - last % for anti-alias edge*/
	background: radial-gradient(160% 100% at 50% 0% ,hsla(0,0%,100%,.3) 50%,hsla(0,0%,100%,0) 55%); /* (Width% Heigth% at H-center_offset% V-center_offset%, hsla(0,0%,100%,1st-T) 1st-area%, hsla(0,0%,100%,2nd-T) 2nd-area%)) */
	box-shadow: 2px 2px 3px 1px #000000;
	border-radius: 4px;
	border: none;
	user-select: none;
}
a.btn-primary {
	background: hsl(200,100%,40%)/*c*/;
	border: none;
}
wh, .wh { color: #e0e7ee !important; }
gr, .gr { color: hsl(200,3%,60%)/*cgl*/ !important; }
.blue, bl { color: hsl(200,100%,40%)/*c*/ !important; }

body {
	font-family: "Lato";
	font-size: 14px;
}
h1 {
	font-weight: 300;
}
p,
span.timer,
.gpio-float-r span:not(:first-of-type) {
	color: hsl(200,3%,60%)/*cgl*/;
}
.sec {
	display: inline-block;
	margin-left: 5px;
	vertical-align: 5px;
}
span.timer {
	display: block;
	margin-top: 48px;
	margin-left: 0;
}
span.timer i {
	vertical-align: -2px;
}
#gpioform i {
	font-size: 18px;
}
.btn-default {
	border: none;
}
.close-root {
	float: right;
	margin-top: 20px;
	font-size: 28px;
}
.close-root,
#gpioimgtxt,
#close-img {
	cursor: pointer;
}
#close-img {
	display: none;
	position: absolute;
	right: 15px;
	top: 5px;
	font-size: 28px;
}
.form-group {
	margin-top: 10px;
	padding: 0 30px;
}
#fliptxt {
	display: none;
	color: #e0e7ee;
}
#gpiopin,
#gpiopin1 {
	display: none;
	margin-bottom: 10px;
	width: 100%;
	border-radius: 6px;
	background: #e0e7ee;
}
#divgpio div.col-sm-10 {
	padding: 0;
}
.gpio-float-l {
	float: left;
	min-width: 220px;
}
.gpio-float-r {
	float: left;
	min-width: 320px;
}

div#gpio-num.col-sm-10,
.delay,
#gpio-num .bootstrap-select {
	width: 85px !important;
}
#gpio-name,
#gpio div.text,
#gpio-name input[type=text] {
	width: 120px !important;
}
#gpio div.col-sm-10,
.gpio-text,
#gpio .bootstrap-select,
#gpio input[type=text],
#gpio input[type=number] {
	width: 190px;
}
#gpio div.col-sm-10 {
	float: left;
	margin: 0;
	padding: 0;
}
.gpio-text {
	display: block;
	width: 100%;
	padding: 0 0 0 5px;
	line-height: 40px;
	color: #e0e7ee;
}
#gpio .bootstrap-select {
	margin: 0 0 5px 0;
	height: 41px;
	color: #e0e7ee;
}
div#gpio-num.col-sm-10 {
	margin-right: 5px;
}
button {
	height: 40px;
}
.btn,
input {
	border-radius: 4px;
}
#audioout button {
	width: 200px;
}
#gpio-name {
	margin: 0 20px 5px 0 !important;
}
input {
	margin-bottom: 10px;
	height: 41px !important;
	padding: 0 10px !important;
	font-family: Lato;
	font-size: 15px !important;
	color: #e0e7ee;
	background-color: #000000 !important;
	border: 1px solid hsl(200,3%,30%)/*cg*/ !important;
}
input:focus {
	outline: none;
}
#gpio div.text {
	margin: 0 5px 0 0;
}
#gpio p {
	text-align: center;
	line-height: 46px;
}
.clear {
	clear: both;
}
select {
	display: none;
}
.dropdown-menu {
	background: hsl(200,3%,30%)/*cg*/;
	box-shadow: 4px 4px 10px #000000;
}
.dropdown-menu > li > a {
	line-height: 31px;
	color: #e0e7ee;
}
.dropdown-menu >li.selected a {
	color: #e0e7ee;
	background: hsl(0,0%,20%);
	outline: none;
}
.close-root,
#gpioimgtxt,
.blue {
	color: hsl(200,100%,40%)/*c*/;
}
.cgl {
	color: hsl(200,3%,60%)/*cgl*/ !important;
}
.btn-default:focus .cgl {
	color: #e0e7ee !important;
}
.green {
	color: #0f0
}
.red {
	color: #f00
}
.yellow {
	color: yellow;
}

@media (min-width:1200px) {
	.container{ width:1170px; }
}
@media (min-width:992px) {
	.container { width:970px; }
}
@media (max-width: 510px) {
	.container {
		margin: 0;
	}
	.col-sm-2 i {
		float: left;
		margin: 0 5px 5px;
	}
}
@media( hover:hover ) {
	.close-root:hover,
	#gpioimgtxt:hover {
		color: hsl(200,100%,45%)/*ch*/;
	}
	.dropdown-menu > li > a:hover,
	.btn-default:active,
	.dropdown-toggle.btn-default:active,
	.btn-default:hover,
	.dropdown-menu > li.selected > a,
	.dropdown-toggle.btn-default:hover {
		background: hsl(200,3%,20%)/*cga*/ !important;
		color: #e0e7ee;
	}
	.dropdown-menu > li.selected a:hover {
		background: hsl(200,3%,10%)/*cda*/ !important;
	}
}