[Unit]
Description=Before shutdown, turn off GPIO

[Service]
Type=oneshot
RemainAfterExit=true
ExecStop=/usr/bin/python /home/osmc/gpiooff.py

[Install]
WantedBy=multi-user.target
